@CHARSET "UTF-8";

.noLine{
	-webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border: 0 !important;
}

.widthA{
	width:33%;
}

#daoHang{
	background-color:#22958c;
}

.a:focus{text-decoration:none !important;}

.panel-heading{
	background-color:#acae86 !important ;
	border-color: #acae86 !important;
	color:#fff !important;
}
.navbar-nav{
	color:#fff !important;
}